body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  background: #FC354C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* https://uigradients.com/#ManofSteel */
}

#remktfrm {
  display: block;
  width: 100%;
}

/* iframe#remktfrm.navbar-header {
  font: sans-serif;
  font-size: smaller;
  font-color: #000;
} */

div.d-flex.justify-content-between.align-items-center {
  margin-bottom: 20%;
}
div.d-flex.justify-content-between.align-items-center p.message {
  margin-top: -10%;
  margin-bottom: 20%;
}

span.switch-to.mdb-updates {
  margin-top: -10%;
}


p.card-text.pro-title.text-muted {

  margin-bottom: 10%;
}

div.row.head-banner {
  /* background-color: ddd; 
  background-color: rgba(251, 253, 251, 0.82);
  */
  display: grid;
  grid-template-columns: 3fr;
  margin-top: 0%;
}

div.row.head-banner.container {
  display: grid;
  margin: 0;
}


div.animated-nav .spacing.w-col.w-col-4.w-col-medium-4 {
  display: flex;
  float: left;
  padding-right: 0px;
}

div.software-icon {
  padding-left: 15px;
  padding-right: 15px;
}

div.animated-nav {
  position: relative;
  float: right;
  clear: both;
  height: 1.5%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 /* [class*="col-"]*/
  .u-photo {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
 /* [class*="col-"]*/
  .u-photo {
    width: 50%;
  }
}

.u-photo {
  opacity: 75%;
  position: absolute;
}
.u-photo:hover {
  opacity: 95%;
}


div.profile-menu {
  position: absolute;
  color: rgb(83, 82, 82);
  margin-top: 01.5%;
  float: left;
  clear: both;
}



/* article.profile-menu {
  color: rgb(83, 82, 82);
  float: left;
  clear: both;
  margin-right: -10%;
  margin-top: -11.5%;
} */


@media only screen 
 and (max-width: 1210px) 
 and (min-width: 845px) {
  div.profile-menu {
    margin-top: 03.3%;
  }
}


.navbar-header a.navbar-brand h1 {
  text-decoration: none;
  font-size: 1.5em;
  color: #fff;
  color: rgba(255, 255, 255, 0.97);
  padding-top: 3%;
}

img.avatar.width-full.rounded-2 {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  align-left: 0px;
}

div.flash.tag {
  font-size: 10px;
  font-size: 1em;
  padding-bottom: 3%;
}

div.container {
  margin-left: 15%;
  margin-right: 15%;
}

div#slide4.tabpanel4.slide div#introduction.container.apps {
  margin-left: 5%;
  
}
div.colm-left {
  width: 40%;
  background-color: transparent;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  height: 0%;
}

div.colm-right {
  width: 7%;
  padding-left: 2; 
  padding-right: 2%;
  float: right;
  clear: both;
}

div.profile div.row h2 {
  margin-top: 0;
  font-size: 1.5em;
}

div.profile {
  /* margin-left: 13%;
  margin-right: 13%;
  padding-top: 7%;
  padding-bottom: 7%; */
}

article.container {
  padding: 2%;
}

nav.navbar.navbar-full {
  width: 100%;
}

ul.drop_down nav li.col1 {
 width: 40%;
 float: left;

}

ul.drop_down nav li.col1 {
  width: 40%;
  float: right;
  clear: both;
 }
.side_menu {
  position: fixed;
  margin-top: 40px;
  background-color: #fff;
  opacity: 20px;
  right: 0;
  top: 300px;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 3px;
}
.side_menu {
  width: 0px;
}

.side_menu.side_menu:hover {
  width: 100px;
}

div.switch-version.d-none.d-md-block {
  background-color: #fff;
  opacity: 20px;
  font-size: 24px;
  text-decoration: none;
  right: 0;
  top: 300px;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  padding-top: 40px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 3px;
}

div.switch-version.d-none.d-md-block a {
  display: inline-grid;
  text-decoration: none;
  color: #777;
  clear: both;
}

div.switch-version.d-none.d-md-block a role:hover {
  display: inline-block;
  text-decoration: none;
  color: #777;
  font-size: 1.5px;
}

div.switch-version.d-none.d-md-block a img {
  padding-bottom: 3px;
}

div.slide.header.s_plaine#sli0 {
  display: inline-flexbox;
  font-size: x-small;
}

.pro.pacion {
  background-color: #f5f5f5;
  padding-top: 2%;
  padding-bottom: 2%;
  color: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

 div.row.pro-sli1 {
   background: #555;
   background: rgba(0, 0, 0, 0.38);
   padding-top: 5%;
   padding-bottom: 0;
   font-size: 34px;
 }

.display1 p.message img {
  position: absolute;
  margin-left: -380px;
  padding-top: 1.3%;
}

 div.row.pro-sli2 {
  background: #180303;
  background: rgb(3 1 8 / 87%);
  padding-top: 5%;
  padding-bottom: 5%;
  color: #979090;
 }
 

 div.row.pro-sli3 {
   background: rgb(156, 154, 154);
   background: rgba();
   /* color:  #0abfbc;
   color: rgba(8, 151, 149, 0.86); */
   font-size: 18px;
   font-size: 1.8em;
   margin-top: 0%;
   padding-top: 05%;
   padding-bottom: 5%;
 }

 iframe.figma.canvas {
   border: 1px solid rgba(0, 0, 0, 0.1);
   /* width: 1728px; 
   height: 1117px;  */
   position: fixed;
   -ms-flex-align: center;
 }

 a.image-link.shadow {
   margin-top: -50%;
   
 }

 div.showcase_container {
  width: fit-content;
 }

 display3 iframe {
  margin-left: -12%;
 }

 div.row.pro-sli4 {
   background: #000;
   background: rgba();
   color: rgba(131, 131, 131, 0.57);
   font-size: 12.5px;
   font-size: 1.25em;
   padding-top: 5%;
   padding-bottom: 5%;
 }

 .article-header {
   
 }

 div.row.pro-sli5 {
   background-color: rgb(241, 239, 226);
   /* background: rgba();
   color: rgba(131, 131, 131, 0.57);
   font-size: 12.5px;
   font-size: 1.25em;
   padding-top: 5%;
   padding-bottom: 5%; */
 }

 div.row.pro-sli6 {
   background: #FFF;
   background: rgba();
   color: rgba(131, 131, 131, 0.57);
   font-size: 12.5px;
   font-size: 1.25em;
   margin-top: 1%;
   padding-top: 5%;
   padding-bottom: 5%;
 }

 div.row.pro-sli7 {
  background: rgb(156, 154, 154);
  background: rgba();
  /* color: rgba(131, 131, 131, 0.57); */
  color: #1E1E1E;
    display: block;
  font-size: 12.5px;
  font-size: 1.25em;
  padding-top: 5%;
  padding-bottom: 5%;
}
div.row.pro-sli4 {
  width: 100%;
  height: 1838px;
  Overflow: hidden;
  vertical-align: baseline;
} 

article#tabPanel7 div#apps {
  
  
}
/* .pro-sli4 {
  width: 100%;
  height: 100%;
  overflow: scroll;
 
} */

/* div.row.pro-sli3 {
  height: 1838px;
  overflow: scroll;
  width: 100%;
  overflow: hidden;
  scroll-margin-inline-start: flex;
} */

article#tabPanel13 {
  position: absolute;
}

#introduction {
  position: relative;
}

div.container.apps,
div.display3,
div.hero,
div.hero-content,
section.main-section,
section.intro,
section.showcase,
section.features,
section.intro,
section.overview.|.ctn.|.c-indigo {
  position: relative;

}


#app .footer, #app .header, #app .hero__wrap, #app .navigationDots {
  transition: opacity 1s ease 1s;
}
@media (min-width: 992px)
.footer[data-v-06444f2c] {
  bottom: 70px;
  bottom: 4.375rem;
}
.footer[data-v-06444f2c] {
  z-index: 0;
  position: relative;
  bottom: 30px;
  bottom: 1.875rem;
  left: 6vw;
  color: #fff;
  line-height: 1;
  width: 88vw;
  font-weight: 600;
}

div.item-image-link {
  width: 30%;
  float: left;
}


/* div.article-header {
  width: 40%;
  float: right;
  clear: both;
} */

#tabPanel4 {
  padding: 0;
}
article div.hero {
  /* padding-left: 5%;
  padding-right: 5%; */
}

#tabPanel4 {
  padding-left: 5%;
  padding-right: 5%;
}
}

 div.hero article.section {
  padding-left: 5%;
  padding-right: 5%;
}


div.contact {
  background: #fff;
  background: rgba(255, 255, 255, 0.38);
  padding-top: 5%;
  padding-bottom: 5%;
  color: #555;
  z-index: 2;
}

section.container.contact-me {
  padding-top: 2%;
  padding-bottom: 2%;
}

div.store-site {
  position: absolute;
  margin-top: 1.6%;
  margin-left: 5.8%;
  background-color: #fff;
  /* padding-right: 3.5%; */
  width: 44%;
  float: right;
  clear: both;
}

div#apps {
  padding-left: 15%;
  padding-right: 15%;
}

div.app.display {
  width: 80%;
  float: left;  
}

p#first{
  font-weight: bold;
  font-size: 15pt;
}

.entry-content {
  font-weight: bold;
  font-size: 15pt;
}

/* .container {
  width: 85%;
} */
.row {
 width: 100%;
}

.col-md-4 {
  width: 100%;
}

span.required {
  color: rgb(255, 0, 0);
}

ul.social li {
  font-size: 2em;
  display: inline;
  padding: 0 2%;
}

ul.social li a {
  color: #5d5d5d;
}



.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa {
font-weight: 900;
}

/* .fa {
font-family: Font Awesome\ 5 Free;
} */

.fa-lg {
font-size: 1.33333em;
line-height: .75em;
vertical-align: -.0667em;
}

/* .fa {
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
display: inline-block;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1;
} */



.fa-facebook-square:before {
content: "\f082";
}

.fa-twitter-square:before {
content: "\f081";
}

.fa-instagram:before {
content: "\f16d";
}

.fa-flickr:before {
content: "\f16e";
}

.fa-youtube-square:before {
content: "\f431";
}

.fa-linkedin-square:before {
content: "\f08c";
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 /* [class*="col-"]*/
    .profile {
    width: 100%;
    Color: 000;
    font-size: 20%;
  }
  iframe.figma.canvas {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 1728px; 
    height: 1117px; 
  }
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
 /* [class*="col-"]*/
    .profile {
    width: 100%;
    font-style: normal;
    font-size: 20%;
    center: center;
  }
  iframe.figma.canvas {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 864px;
    /* width: 1728px;  */
    height: 558.5px; 
    /* height: 1117px;  */
    position: relative;
  }
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (max-width: 768px) {
  div.display3 div.section-content {
     width: 100%;
     font-size: 50%;
     center: center;
  }
  row .pro-sli1 .pro-sli2 .pro-sli3 { width: 100%; padding: 0; font-size: 20%;}

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    
    div.row.head-banner {
    background-color: ddd;
    background-color: rgba(12, 42, 9, 0.82);
    margin-top: 3%;
    margin-bottom: 3%;
}
 iframe.figma.canvas {
   border: 1px solid rgba(0, 0, 0, 0.1);
   width: 1728px; 
   height: 1117px; 
   position: relative;
 }
 div.animated-nav {
  position: absolute;
  margin-top: -90px;
  float: right;
  clear: both;
}

}
/* Best for my setting Portrait Iphone 11 Plus */
@media only screen and (max-width: 500px) {
    div.row.pro-sli3  {
      font-size: 25px;
      width: 100%;
      margin: 0 auto;
  }
    div.d-flex.justify-content-between.align-items-center p.message h1 {
      font-size: 50px;
    }
    
    section.features ul li {
      width: 100%;
     
    }

}

/* Portrait Iphone 6/7/8 Plus */
@media only screen 
  and (min-device-width: 289.81px) 
  and (max-device-width: 375px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    div.profile {
    width: 100%;
    font-style: normal;
    font-size: 45%;
    Color: e1e;
    center: center;
    background-color: ddd;
    background-color: rgba(12, 42, 9, 0.82);
    margin: 0;
    }
    
    div.container {
      margin: 0;
    }
    
    .navbar-header a.navbar-brand img {
      width: 50%;
      font-size: 0.75em;
    }
    div.d-flex.justify-content-between.align-items-center p.message h1 {
      font-size: 50px;
    }
    artic#tabPanel13 div.apps,
    div#introduction div.apps {
      margin: 0 auto;
    }
}

/* Portrait Iphone 11 */
@media only screen 
  and (min-device-width: 500px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    div.profile {
    width: 100%;
    font-style: normal;
    font-size: 25%;
    center: center;
    background-color: ddd;
    background-color: rgba(12, 42, 9, 0.82);
    margin: 0;
    }
    
    div.container {
      margin: 0;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    
    div.row.head-banner {
    background-color: ddd;
    background-color: rgba(12, 42, 9, 0.82);
    margin-top: 3%;
    margin-bottom: 3%;
    }

}

/* Testing this css out */

.case-template .hero .hero-content {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  position: relative;
}
.hero .hero-content {
  pointer-events: none;
  position: relative;
  z-index: 1;
}
*, :after, :before {
  box-sizing: inherit;
  /* margin: 0; */
  outline: none;
  padding: 0;
}

.home-welcome .showcase {
  border-bottom: none;
  margin: 0;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.home-welcome section {
  border-bottom: 2px solid #eee;
  margin: 0 auto;
  max-width: 800px;
  max-width: 50rem;
  padding: 48.828px 25px;
  padding: 3.0517578125rem 1.5625rem;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}
*, :after, :before {
  box-sizing: inherit;
}


media screen and (min-width: 740px)
.home-welcome .features ul li {
    height: 200px;
    width: 25%;
}
.home-welcome .features ul li {
    align-items: center;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
    height: 160px;
    justify-content: center;
    text-align: center;
    width: 50%;
}
*, :after, :before {
    box-sizing: inherit;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.home-welcome .features ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 48px 0;
    margin: 3rem 0;
    padding: 0;
}


.home-welcome .features ul li img, .home-welcome .features ul li span {
  color: #00a0d2;
  display: block;
  font-size: 48px;
  font-size: 3rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.home-welcome .dashicons {
  color: #cbcdce;
  display: block;
  font-size: 64px;
  font-size: 4rem;
  height: auto;
  margin: 0 auto -16px;
  margin: 0 auto -1rem;
  width: auto;
}
.dashicons, .dashicons-before:before {
  font-family: dashicons;
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  font-style: normal;
  speak: never;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20px;
  height: 20px;
  font-size: 20px;
  vertical-align: top;
  text-align: center;
  transition: color .1s ease-in;
}
*, :after, :before {
  box-sizing: inherit;
}
.home-welcome .features ul li {
  align-items: center;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  height: 160px;
  justify-content: center;
  text-align: center;
  width: 50%;
}
user agent stylesheet
li {
  text-align: -webkit-match-parent;
}
.home-welcome .features ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 48px 0;
  margin: 3rem 0;
  padding: 0;
}


ul {
    list-style: square;
}
ol, ul {
    overflow-wrap: break-word;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
@media screen and (min-width: 737px)
.home-welcome {
    font-size: 18px;
}
.home-welcome {
    background: #fff;
    border-bottom: 1px solid #dfdfdf;
    color: #32373c;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    max-width: none;
    padding: 0;
}

.home-welcome .features ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 48px 0;
  margin: 3rem 0;
  padding: 0;
}
ul {
  list-style: square;
}
ol, ul {
  margin: 0 0 1.5em 1.5em;
  padding: 0;
}
ol, ul {
  overflow-wrap: break-word;
}
*, :after, :before {
  box-sizing: inherit;
}

user agent stylesheet
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

user agent stylesheet
section {
  display: block;
}
@media screen and (min-width: 737px)
.home-welcome {
  font-size: 18px;
}


.home-welcome .showcase .cta-link {
  margin: 48.828px 0 0;
  margin: 3.05176rem 0 0;
  max-width: 100%;
  text-align: center;
}
.home-welcome p {
  font-size: 18px;
  margin: 1em 0;
  max-width: 568.434px;
  max-width: 35.527136788rem;
}
p {
  margin: 16px 0;
  margin: 1rem 0;
}
p {
  overflow-wrap: break-word;
}

*, :after, :before {
  box-sizing: inherit;
}
user agent stylesheet
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media (min-width: 700px)
.home-welcome .showcase>div {
    height: 600px;
    background-attachment: fixed;
}
.home-welcome .showcase>div {
    background: url(https://s.w.org/images/home/collage-min.jpg?6) top;
    background-size: cover;
    box-shadow: inset 0 0 8px rgb(0 0 0 / 40%);
    height: 300px;
    width: 100%;
}
*, :after, :before {
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
}
@media screen and (min-width: 737px)
.home-welcome {
    font-size: 18px;
}

article#tabPanel4 div#apps {
  
   height: 1757px;
   overflow: scroll;
  
}

.home-welcome .intro {
  padding-bottom: 0;
}
.home-welcome section {
  border-bottom: 2px solid #eee;
  margin: 0 auto;
  max-width: 800px;
  max-width: 50rem;
  padding: 48.828px 25px;
  padding: 3.0517578125rem 1.5625rem;
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}
*, :after, :before {
  box-sizing: inherit;
}
user agent stylesheet
section {
  display: block;
}
@media screen and (min-width: 737px)
.home-welcome {
  font-size: 18px;
}
.home-welcome {
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
  color: #32373c;
  font-family: Open Sans,sans-serif;
  font-weight: 400;
  line-height: 1.5;
  max-width: none;
  padding: 0;
}

body, button, input, select, textarea {
  color: #32373c;
  font-family: Open Sans,sans-serif;
  font-size: 100%;
  line-height: 1.5;
}


.case-template .hero .hero-content .thumb .gatsby-image-wrapper {
  height: 100%;
}
.gatsby-image-wrapper-constrained {
  display: inline-block;
  vertical-align: top;
}
.gatsby-image-wrapper {
  position: relative;
  overflow: hidden;
}


.case-template .hero .hero-content .thumb {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 800px;
  z-index: -1;
}

.hero h1 .line {
  /* display: block; */
  height: calc(var(--h1)*1.2);
  overflow: hidden;
}
*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}
h1 {
  font-size: var(--h1);
  letter-spacing: -3.5px;
  line-height: calc(var(--h1)*1.07);
}
body, h1 {
  font-weight: 400;
}

user agent stylesheet
h1 {
  font-size: 2em;
  font-weight: bold;
}
.hero .hero-content {
  pointer-events: none;
  position: relative;
  z-index: 1;
}



h4 {
  font-size: var(--h4);
  font-weight: var(--bold-font);
}
*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}
user agent stylesheet
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.hero .hero-content {
  pointer-events: none;
  position: relative;
  z-index: 1;
}


.hero h1 {
  left: -0.7rem;
  margin-top: 3rem;
  position: relative;
  z-index: 1;
}
h1 {
  font-size: var(--h1);
  letter-spacing: -3.5px;
  line-height: calc(var(--h1)*1.07);
}
body, h1 {
  font-weight: 400;
}
*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

user agent stylesheet
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.hero .hero-content {
  pointer-events: none;
  position: relative;
  z-index: 1;
}
style attribute {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  opacity: 1;
  pointer-events: all;
}

.case-template .hero {
  padding: 0;
  padding-top: var(--nav-height);
}
.hero {
  /* background-color: var(--white); */
  /* overflow: hidden; */
  padding-bottom: 22rem;
  /* padding-top: 22rem; */
}
*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

user agent stylesheet
div {
  display: block;
}
style attribute {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  opacity: 1;
  pointer-events: all;
}

.case-template .hero .hero-content {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  position: relative;
}
.hero .hero-content {
  pointer-events: none;
  position: relative;
  z-index: 1;
}
*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

user agent stylesheet
div {
  display: block;
}
style attribute {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  opacity: 1;
  pointer-events: all;
}
body, h1 {
  font-weight: 400;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  box-sizing: border-box;
  color: var(--black);
  font-family: var(--main-font);
  font-size: var(--body);
}
:root {
  --primary: #fba754;
  --pink: #ef3c66;
  --off-white: #f7f8fb;
  --white: #fff;
  --black: #111;
  --dark-gray: #555;
  --border: #ddd;
  --main-font: "TT Hoves",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  --bold-font: 500;
  --body: 2rem;
  --h1: 12rem;
  --h2: 7.2rem;
  --h3: 3.6rem;
  --h4: 2.4rem;
  --ico-dimension: 8rem;
  --gap-12: 12rem;
  --gap-6: 6rem;
  --gap-4: 4rem;
  --gap-3: 3rem;
  --nav-height: 10rem;
  --loading-scale: 25;
}
html {
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
}
*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}
*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

.case-template .main-section .section {
  display: flex;
  justify-content: space-between;
  margin-top: var(--gap-12);
}
*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}
user agent stylesheet
article {
  display: block;
}
style attribute {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1981, 0, 1);
  opacity: 1;
  pointer-events: all;
}

case-template .main-section .section .heading {
  flex-basis: 400px;
}
*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}
user agent stylesheet
div {
  display: block;
}

div.app.display section.shadow a.image-link {
  position: absolute;
  width: 29%;
  margin-left: -5.5%;
  
  opacity: 9%;
}

h4 {
  font-size: var(--h4);
  font-weight: var(--bold-font);
}
*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

user agent stylesheet
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.case-template .intro .project-info .info {
  flex-basis: 400px;
}

.case-template .intro .project-info .info h5 {
  margin-bottom: 1rem;
}
a, h5 {
  font-size: 1.6rem;
}
h5 {
  color: var(--dark-gray);
  font-weight: 400;
}
*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

user agent stylesheet
h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.case-template .intro .project-info .info p {
  font-weight: var(--bold-font);
}
*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

user agent stylesheet
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h4 {
  font-size: var(--h4);
  font-weight: var(--bold-font);
}

div#slide4.tabpanel4.slide,
div.tabPanel4.slide #slide4 {
  position: relative;
  height: 1818px;
  overflow: hiden; 
}

article#tabPanel3 {
 margin-top: 20%;
}

article#tabPanel3 div.apps {
  margin-left: 07%;
}

div#introduction{
  position: relative;
}

div#introduction.container.design .display5 {
  padding-top: 15%;
}

div#display4 {
  position: relative;
}

div#slide4 a.image-link {
  position: relative;
}
*, :after, :before {
  box-sizing: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}
user agent stylesheet
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

div.hero-content h1 {
  
  width: 30%;
  float: left;
  clear: both;

}

div.article-header{
  margin-bottom: 15%;
  margin-top: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}

div.gatsby-image-wrapper.gatsby-image-wrapper-constrained {
  width: 100%;
  margin-bottom: 5%;
  float: right;
  
  
}


div.section-content {
  width: 60%;
  margin-left: 5%;
  margin-right: 5%;
float:right;
clear: both;
}

div.heading {

  float: left;
  
}

section.features {
  clear: both;
  display: block;
  
  text-decoration: none;
}

section.features ul {
  display: inline-flex;
  text-transform: capitalize;
    display: flex;
}

section.features ul li {
  width: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%; 
  margin-bottom: 5%;
  text-transform: capitalize;
 
}

p.subheading ul li {
  display: inline-block;
}


p.subheading ul li span.dashicons.dashicons-admin-customizer {
  margin-bottom: 5%;
  padding-bottom: 5%;
}

/* About & animated menu */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");

html {
	font-size: 62.5%;
}

body {
	font-family: "Playfair Display", serif;
	font-size: 1.6rem;
	color: #333;
	background-color: #f5f5f5;
	box-sizing: border-box;
}

div.spacing.w-col.w.col-4.w-col-medium-4 {
  display: inline-flex;
}

h2 {
	font-size: 7.5vw;
	font-weight: 600;
	text-align: center;
	letter-spacing: -2px;
	margin-top: 20vh;
	opacity: 0.15;
}

a {
	color: #222;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

/* .wrapper {
	width: 88%;
	margin: 0 auto;
} */


nav.navbar.navbar-full {
   color: #000;
   background-color: transparent;
}

nav {
	position: relative;
	height: 11.5rem;
	/* background-color: linen; */
	z-index: 10;

	.wrapper {
		height: 100%;
		display: flex;
		align-items: center;
	}

	.ham {
		margin-left: auto;

		span {
			font-size: 2rem;
			cursor: pointer;
		}
	}

	ul {
		position: absolute;
		width: 100%;
		top: 100%;
		left: 0;
		z-index: -1;

		background-color: bisque;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		// for animation
		opacity: 0;
		height: 0;

		li {
			margin: 1rem 0;
			font-size: 3rem;
		}
	}
}
