body {
  margin: 0;
  padding: 0;
  font-family: helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  background: #FC354C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* https://uigradients.com/#ManofSteel */
}

div.row.head-banner {
  background-color: ddd;
  background-color: rgba(12, 42, 9, 0.82);
  margin-top: 3%;
  margin-bottom: 3%;
}

div.navbar-header {
  maring-top: 10px;
}

.navbar-header a.navbar-brand h1 {
  text-decoration: none;
  font-size: 1.5em;
  color: #fff;
  color: rgba(255, 255, 255, 0.97);
  padding-top: 3%;
}

img.avatar.width-full.rounded-2 {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  align-left: 0px;
}

div.flash.tag {
  font-size: 10px;
  font-size: 1em;
  padding-bottom: 3%;
}

div.container {
  margin-left: 15%;
  margin-right: 15%;
}

div.profile {
  margin-left: 13%;
  margin-right: 13%;
  padding-top: 7%;
  padding-bottom: 7%;
}

article.container {
  padding: 2%;
}

.side_menu {
  position: fixed;
  margin-top: 40px;
  background-color: #fff;
  opacity: 20px;
  right: 0;
  top: 300px;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 3px;
}
.side_menu {
  width: 0px;
}

.side_menu.side_menu:hover {
  width: 100px;
}

div.switch-version d-none d-md-block {
  position: fixed;
  margin-top: 40px;
  background-color: #fff;
  opacity: 20px;
  font-size: 24px;
  text-decoration: none;
  right: 0;
  top: 300px;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 3px;
}

div.switch-version.d-none.d-md-block a {
  display: inline-grid;
  text-decoration: none;
  color: #777;
  clear: both;
}

div.switch-version.d-none.d-md-block a role:hover {
  display: inline-block;
  text-decoration: none;
  color: #777;
  font-size: 1.5px;
}

div.switch-version.d-none.d-md-block a img {
  padding-bottom: 3px;
}

 div.row.pro-sli1 {
   background: #555;
   background: rgba(0, 0, 0, 0.38);
   padding-top: 5%;
   padding-bottom: 0;
   font-size: 34px;
 }

.display1 p.message img {
   position: absolute;
   margin-left: -280px;
}

 div.row.pro-sli2 {
   background: #000;
   background: rgba(0, 0, 0, 0.68);
   padding-top: 5%;
   padding-bottom: 5%;
 }

 div.row.pro-sli3 {
   background: #eee;
   background: rgba();
   color:  #0abfbc;
   color: rgba(8, 151, 149, 0.86);
   font-size: 18px;
   font-size: 1.8em;
   padding-top: 5%;
   padding-bottom: 5%;
 }

 div.row.pro-sli4 {
   background: #ccc;
   background: rgba();
   color: rgba(131, 131, 131, 0.57);
   font-size: 12.5px;
   font-size: 1.25em;
   padding-top: 5%;
   padding-bottom: 5%;
 }

div.contact {
  background: #fff;
  background: rgba(255, 255, 255, 0.38);
  padding-top: 5%;
  padding-bottom: 5%;
  color: #555;
  z-index: 2;
}

section.container.contact-me {
  padding-top: 2%;
  padding-bottom: 2%;
}
/* .container {
  width: 85%;
} */
.row {
 width: 100%;
}

.col-md-4 {
  width: 100%;
}

span.required {
  color: rgb(255, 0, 0);
}

ul.social li {
  font-size: 2em;
  display: inline;
  padding: 0 2%;
}

ul.social li a {
  color: #5d5d5d;
}



.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa {
font-weight: 900;
}

/* .fa {
font-family: Font Awesome\ 5 Free;
} */

.fa-lg {
font-size: 1.33333em;
line-height: .75em;
vertical-align: -.0667em;
}

/* .fa {
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
display: inline-block;
font-style: normal;
font-variant: normal;
text-rendering: auto;
line-height: 1;
} */



.fa-facebook-square:before {
content: "\f082";
}

.fa-twitter-square:before {
content: "\f081";
}

.fa-instagram:before {
content: "\f16d";
}

.fa-flickr:before {
content: "\f16e";
}

.fa-youtube-square:before {
content: "\f431";
}

.fa-linkedin-square:before {
content: "\f08c";
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
    Color: 000;
    font-size: 15%;
  }
}
